@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700;800;900&display=swap");

html,
body {
  height: 100%;
  width: 100%;
  font-family: Inter, system-ui;
}

.rs {
  font-family: "Roboto Slab", system-ui;
}
.col-md-4.mb-4{
  width: max-content;
}
.Dev-Cards{
  gap: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row;
  flex-wrap: wrap;
  

}